#nav-bar {
  height: 100px;
  margin: auto;
  background: lightgrey;
}

#nav-logo {
  position: relative;
  float: left;
  height: 80px;
  width: 80px;
  top: 10px;
  left: 10px;
}

#logged-in-container {
  border: 1px solid black;
  position: relative;
  float: right;
  text-align: right;
  top: 10px;
  right: 10px;
}

#nav-buttons-container, #sign-in-container {
  border: 1px solid black;
  position: relative;
  clear: both;
  float: right;
  text-align: right;
  bottom: 10px;
  right: 10px;
}

.nav-button {
  display: inline-block;
}