/*#discount-form {
  display: none;
}*/

.user-discount-card {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  height: 220px;
  width: 220px;
}

#profile-card {
  border: 1px solid black;
}

.user-update-form {
  display: none;
  border: 1px solid black;
}

.about-signup-container {
  border: 1px solid black;
  width: 50%;
  height: 475px;
  float: left;
}

#signup-form {
  display: none;
}

.beta-mode-container {
  border: 1px solid black;
  width: 40%;
  height: 475px;
  float: right;
}

#beta-mode-form {
  display: none;
}