<div id="nav-bar">

  <h1>Oh SNAP! It's the nav bar!</h1>

  <div id="nav-buttons-container">
    <a href="/companies"><button class="nav-button">Companies</button></a>

    <button class="nav-button">Inbox</button>

    <a href="/users/show/"+session[:user_id]><button>*fix for session:id*</button></a>
    
  </div>

</div>